{% extends "polls/base.html" %}
{% block title %} Mot de passe oublié ? {% endblock %}
{% block content %}

    <form action="{% url 'polls:post-reset-password' %}" method="post">
    {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="hidden" name="username" value="{{ username }}" />
        <input type="hidden" name="token" value="{{ token }}" />

        <label>Password:</label><input type="password" name="password" />
        <label>Confirm password:</label><input type="password" name="confirm_password" />
            <input class="btn" type="submit" value="Login" />
    </form>

{% endblock %}